@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SF-Pro";
  background-color: #fafafa;
}

.popover-content {
  width: var(--radix-popover-trigger-width) !important;
  max-height: var(--radix-popover-content-available-height) !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 175 52% 60%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;
  }

  .textarea {
    @apply border font-medium outline-none border-gray-10 max-w-540 p-6 w-full min-h-28 rounded-xl text-sm;
  }

  .card {
    @apply bg-white rounded-lg border border-gray-200 px-8 py-5;
  }

  .navbar {
    @apply fixed top-4 w-full bg-white z-[60] border border-gray-100 shadow-navbar rounded-md px-6 sm:px-10 py-3 flex justify-between items-center max-w-[calc(100%-32px)] xl:max-w-max;
  }
}

html {
  scroll-behavior: smooth;
}

html[dir="rtl"] .swiper-wrapper {
  direction: ltr !important;
}

.swiper-slide-active > div {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.swiper-pagination-bullet {
  background: #d9d9d9 !important;
  opacity: 1 !important;
  width: 16px !important;
  height: 16px !important;
}

.swiper-pagination {
  bottom: -5px !important;
}

.swiper-pagination-bullet-active {
  background: #64cdc7 !important;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rdp-months table thead th {
  color: #8a8a8c;
  font-size: 11px;
  font-weight: 600;
}

[aria-selected="true"] {
  background-color: #14b8a6 !important;
  color: white !important;
  border-radius: 6px;
}

[aria-selected="true"]:hover {
  background-color: #0d9488 !important; /* Slightly darker teal */
}
